* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: white;
  transition: 0.4s;
  font-family: Arial;
}

.dark-mode {
  background-color: #121212;
  color: white;
}

h1 {
  background-color: #081b31;
  color: white;
  height: 5rem;
  line-height: 5rem;
}

#dark-mode-btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.choice {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.choice:hover {
  background-color: #081b31;
  cursor: pointer;
  transform: scale(1.1);
}

img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 4rem;
}

.score p {
  font-size: 2rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
}

.msg-container {
  margin-top: 4rem;
}

#msg {
  background-color: #081b31;
  color: white;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 2rem;
}